<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <p> Lista de Alunos </p>
      <% data.forEach((alunos) => { %>
          <p> <a href='/aluno/atualiza/<%= alunos.id %> ' > Id: <%= alunos.id %> CPF: <%= alunos.cpf %>  Nome: <%= alunos.nome %> </a> </p>
      <% }) %> 
      <p></p>
      <p></p>
    ________________________________________________________________
      <p> Cadastro </p>
      <form method="post" action='/aluno/cadastro'>
        <p>Nome: <input type="text" name="nome"></p>
        <p>CPF: <input type="number" maxlength= "14" name="cpf"></p>
        Categoria: <select name='cat'>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="AB">AB</option>
            <option value="AC">AC</option>
            <option value="AD">AD</option>
            <option value="AE">AE</option>
                    </select>
            <p></p>        
            <input type="submit" value="Salvar">        
      </form>

      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </body>
</html>

