<p>Atualiza cadastro</p>
<form method="post" action='/veiculo/update/<%= dados.id %> '>
    <p>Descrição: <input type="text" name="descricao" value="<%= dados.descrição %> "></p>
    Categoria: <select name='cat'>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
                </select>
        <p></p>
        <input type="submit" value="Atualizar">
</form>

<form method="post" action='/veiculo/delete/<%= dados.id %> '>
        <p> Deseja deletar o veículo? <input type="submit" value="Sim"> </p>
</form>

