<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> <a href="/aluno" > Alunos</a> </p>
    <p> <a href="/veiculo" > Veículos</a> </p>
    <p> <a href="/instrutor" > Instrutores</a> </p>
    <p> <a href="/aula" > Marcação de aula</a> </p>
  </body>
</html>
