<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <p> Lista de Veículos </p>

      <% dados.forEach((veiculos) => { %>
          <p> <a href='/veiculo/atualiza/<%= veiculos.id %> '> Placa: <%= veiculos.placa %>  Descrição: <%= veiculos.descricao %> </a>  </a></p>
          <% }) %> 
      <p></p>
      <p></p>
    ________________________________________________________________
      <p> Cadastro </p>
      <form method="post" action='./veiculo/cadastro'>
        <p>Placa: <input type="text" maxlength="7" name="placa"></p>
        <p>Descrição: <input type="text" maxlength= "20" name="descricao"></p>
        Categoria: <select name='cat'>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
                    </select>
            <p></p>        
            <input type="submit" value="Salvar">        
      </form>
    </body>
</html>

